.bash_history
.babel.json
.cache/*
.config/*
.cordova
.forever/*
.gem/*
.gnupg
.gvm
.local
.meteor
.meteorite
.meteorsession
.nave/*
.node-gyp/*
**/node_modules
.npm*/*
.nvm
.nvmrc
.pyenv/*
.rvm/*
.selected_editor
.ssh/*
.v8flags*
.vim/*
.viminfo
.w3m
shared/log/*
tmp/*
localhost
log/*
*.com
*.life
dev/*
